# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local
coverage

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# env
.env
.env.*
!.env.example

# tmp
tmp
.tmp
*.tsbuildinfo

# certbot (created on prod)
certbot/conf
certbot/www

.server.credentials
